repos:
  # Commitlint
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.5.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']

  # Static checks con Poetry
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run poe mypy
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

      - id: flake8
        name: flake8
        entry: poetry run poe flake8
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

  # (Opzionale) Altri checks utili
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
